@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Lato", sans-serif;
}

.container {
  margin: 30px auto;
  width: 350px;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h4 {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  padding-top: 20px;
  /* color: white; */
}

.summary {
  background-color: #4274fc;
  position: relative;
}

.inc-exp-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  position: relative;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

.inc-exp-container .expense-pc {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background: rgb(0, 195, 255);
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  border: 1px solid blue;
  border-radius: 50%;
  font-size: 0.8rem;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #2ecc71;
}

.money.minus {
  color: #c0392b;
}

label {
  display: inline-block;
  margin: 10px 0;
}

input[type="text"],
input[type="number"] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.btn {
  cursor: pointer;
  background-color: #4274fc;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}

.edit {
  background-color: orangered;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.list li.plus {
  border-right: 5px solid #2ecc71;
}

.list li.minus {
  border-right: 5px solid #c0392b;
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.edit-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn,
.list li:hover .edit-btn {
  opacity: 1;
}

.errors {
  margin-left: 10px;
  font-size: 12px;
  color: red;
}

.transaction-history {
  position: relative;
}

.empty-transaction {
  display: none;
  text-align: center;
  width: 100%;
  margin: auto;
  padding: 0.5rem;
  position: absolute;
  top: 2rem;
  background: gray;
  opacity: 0.5;
}

.active {
  display: block;
}

.balance {
  width: 150px;
  height: 150px;
  background: #2ecc71;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  border-radius: 50%;

  margin: 20px auto 0 auto;
  position: relative;
}

.negative-balance {
  background-color: #c0392b;
}

/* .balance .balance-pc {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background: rgb(0, 195, 255);
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  border: 1px solid blue;
  border-radius: 50%;
  font-size: 0.8rem;
} */

.balance h1 {
  text-align: center;
  font-size: 1.8rem;
}

.edit-transaction {
  background: orangered;
}

.reset {
  position: absolute;
  right: 1rem;
  top: 20px;
  background: white;
  padding: 5px 10px;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  box-shadow: 1px 1px black;
}

.reset:hover {
  background: gray;
}
